<style>div.title-slide {    width: 100%;    display: flex;    flex-direction: row;            /* default value; can be omitted */    flex-wrap: nowrap;              /* default value; can be omitted */    justify-content: space-between;}</style><div class="title-slide">
<span style="float:left;">Licence CC BY-NC-ND</span>
<span>Thierry Parmentelat &amp; Arnaud Legout</span>
<span><img src="media/both-logos-small-alpha.png" style="display:inline" /></span>
</div>

# Exercice sur les ensembles

## Exercice - niveau intermédiaire

In [9]:
# chargement de l'exercice
from corrections.exo_marine_set import exo_diff

### Les données

Nous reprenons le même genre de données marines en provenance de MarineTraffic que nous avons vues dans l'exercice précédent.

In [10]:
from corrections.exo_marine_set import abbreviated, extended

### Rappels sur les formats

    étendu: [id, latitude, longitude, date_heure, nom_bateau, code_pays...]
    abrégé: [id, latitude, longitude, date_heure]

In [11]:
print(extended[0])

[244309000, 49.628, -3.220167, '2013-10-08T21:50:00', 'ALIDA', 'NL', '', 'SCHEVENINGEN']

In [12]:
print(abbreviated[0])

[236111974, 48.89256, -5.30519, '2013-10-08T22:59:00']

### But de l'exercice

In [13]:
# chargement de l'exercice
from corrections.exo_marine_set import exo_diff

Notez bien une différence importante avec l'exercice précédent : cette fois **il n'y a plus correspondance** entre les bateaux rapportés dans les données étendues et abrégées.

Le but de l'exercice est précisément d'étudier la différence, et pour cela on vous demande d'écrire une fonction

```Python
    diff(extended, abbreviated)
```

qui retourne un tuple à trois éléments :

* l'ensemble (`set`) des **noms** des bateaux présents dans `extended` mais pas dans `abbreviated` ;
* l'ensemble des **noms** des bateaux présents dans `extended` et dans `abbreviated` ;
* l'ensemble des **id** des bateaux présents dans `abbreviated` mais pas dans `extended` (par construction, les données ne nous permettent pas d'obtenir les noms de ces bateaux).

In [14]:
# le résultat attendu
result = exo_diff.resultat(extended, abbreviated)

# combien de bateaux sont concernés
def show_result(extended, abbreviated, result):
    """
    Affiche divers décomptes sur les arguments
    en entrée et en sortie de diff
    """
    print(10*'-', "Les entrées")
    print(f"Dans extended: {len(extended)} entrées")
    print(f"Dans abbreviated: {len(abbreviated)} entrées")
    print(10*'-', "Le résultat du diff")
    extended_only, both, abbreviated_only = result
    print(f"Dans extended mais pas dans abbreviated {len(extended_only)}")
    print(f"Dans les deux {len(both)}")
    print(f"Dans abbreviated mais pas dans extended {len(abbreviated_only)}")

show_result(extended, abbreviated, result)

---------- Les entrées
Dans extended: 4 entrées
Dans abbreviated: 4 entrées
---------- Le résultat du diff
Dans extended mais pas dans abbreviated 2
Dans les deux 2
Dans abbreviated mais pas dans extended 2

### Votre code

In [19]:
def diff(extended, abbreviated):
    """Calcule comme demandÃ© dans l'exercice, et sous formes d'ensembles
    (*) les noms des bateaux seulement dans extended
    (*) les noms des bateaux prÃ©sents dans les deux listes
    (*) les ids des bateaux seulement dans abbreviated
    """

    ### on n'utilise que des ensembles dans tous l'exercice

    # les ids de tous les bateaux dans extended
    # avec ce qu'on a vu jusqu'ici le moyen le plus naturel
    # consiste Ã  calculer une comprÃ©hension de liste
    # et Ã  la traduire en ensemble comme ceci
    extended_ids = set([ship[0] for ship in extended])

    # les ids de tous les bateaux dans abbreviated
    # je fais exprÃ¨s de ne pas mettre les []
    # de la comprÃ©hension de liste, c'est pour vous introduire
    # les expressions gÃ©nÃ©ratrices - voir semaine 5
    abbreviated_ids = set(ship[0] for ship in abbreviated)

    # les ids des bateaux seulement dans abbreviated
    # une difference d'ensembles
    abbreviated_only_ids = abbreviated_ids - extended_ids

    # les ids des bateaux dans les deux listes
    # une intersection d'ensembles
    both_ids = abbreviated_ids & extended_ids

    # les ids des bateaux seulement dans extended
    # ditto
    extended_only_ids = extended_ids - abbreviated_ids

    # pour les deux catÃ©gories oÃ¹ c'est possible
    # on recalcule les noms des bateaux
    # par une comprÃ©hension d'ensemble
    both_names = \
        set([ship[4] for ship in extended if ship[0] in both_ids])
    extended_only_names = \
        set([ship[4] for ship in extended if ship[0] in extended_only_ids])
    # enfin on retourne les 3 ensembles sous forme d'un tuple
    return extended_only_names, both_names, abbreviated_only_ids

### Validation

In [20]:
exo_diff.correction(diff, extended, abbreviated)

### Des fichiers de données plus réalistes

Comme pour l'exercice précédent, les données fournies ici sont très simplistes ; vous pouvez, si vous le voulez, essayer votre code avec des données (un peu) plus réalistes en chargeant des fichiers de données plus complets :

* [data/marine-e2-ext.json](data/marine-e2-ext.json)
* [data/marine-e2-abb.json](data/marine-e2-abb.json)

Ce qui donnerait en Python :

In [21]:
# load data from files
import json

with open("data/marine-e2-ext.json", encoding="utf-8") as feed:
    extended_full = json.load(feed)

with open("data/marine-e2-abb.json", encoding="utf-8") as feed:
    abbreviated_full = json.load(feed)

In [22]:
# le résultat de votre fonction sur des données plus vastes
# attention, show_result fait des hypothèses sur le type de votre résultat
# aussi si vous essayez d'exécuter ceci avec comme fonction diff
# la version vide qui est dans le notebook original
# cela peut provoquer une exception
diff_full = diff(extended_full, abbreviated_full)
show_result(extended_full, abbreviated_full, diff_full)

---------- Les entrées
Dans extended: 205 entrées
Dans abbreviated: 200 entrées
---------- Le résultat du diff
Dans extended mais pas dans abbreviated 70
Dans les deux 132
Dans abbreviated mais pas dans extended 68

Je signale enfin à propos de ces données plus complètes que :

* on a supprimé les entrées correspondant à des bateaux différents mais de même nom ; cette situation peut arriver dans la réalité (c'est pourquoi d'ailleurs les bateaux ont un *id*) mais ici ce n'est pas le cas ;
* il se peut par contre qu'un même bateau fasse l'objet de plusieurs mesures dans `extended` et/ou dans `abbreviated`.